<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="fr.centralesupelec.edf.riseclipse.loadcsv.LoadCSVHandler"
            commandId="fr.centralesupelec.edf.riseclipse.loadcsv">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="fr.centralesupelec.edf.riseclipse.loadcsv"
            name="Load CSV">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ocl.examples.ui.Menu?after=load">
         <command
               commandId="fr.centralesupelec.edf.riseclipse.loadcsv"
               defaultHandler="fr.centralesupelec.edf.riseclipse.loadcsv.LoadCSVHandler"
               name="Load CSV">
         </command>
      </menuContribution>
   </extension>
</plugin>
