<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Store -->
      <package
            uri="https://riseclipse.github.io/ocl/example/model/store"
            class="store.StorePackage"
            genModel="model/Store.genmodel"/>
   </extension>

</plugin>
