<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target includeMode="feature" name="Eclipse OCL Standalone Build Target Platform" sequenceNumber="16">
<locations>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
	<!-- post 2023-06 hamcrest moves from 1.3 to 2.2 and requires Java 7 -->
    <unit id="org.hamcrest" version="0.0.0"/>
    <unit id="org.hamcrest.core" version="0.0.0"/>
    <repository location="https://download.eclipse.org/tools/orbit/simrel/orbit-aggregation/release/latest"/>
  </location>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
    <unit id="org.eclipse.emf.common" version="0.0.0"/>
    <unit id="org.eclipse.emf.ecore" version="0.0.0"/>
    <unit id="org.eclipse.emf.ecore.xmi" version="0.0.0"/>
    <unit id="org.eclipse.emf.mapping.ecore2xml" version="0.0.0"/>
    <unit id="org.junit" version="0.0.0"/>
    <repository location="https://download.eclipse.org/eclipse/updates/I-builds"/>
    <repository location="https://download.eclipse.org/modeling/emf/emf/builds/nightly/latest"/>
    <!--repository location="https://download.eclipse.org/modeling/emf/emf/builds/milestone/latest"/-->
  </location>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
    <unit id="org.eclipse.uml2.common" version="0.0.0"/>
    <unit id="org.eclipse.uml2.types" version="0.0.0"/>
    <unit id="org.eclipse.uml2.uml" version="0.0.0"/>
    <unit id="org.eclipse.uml2.uml.profile.standard" version="0.0.0"/>
    <unit id="org.eclipse.uml2.uml.resources" version="0.0.0"/>
    <repository location="https://download.eclipse.org/modeling/mdt/uml2/updates/interim/latest"/>
    <repository location="https://download.eclipse.org/modeling/mdt/uml2/updates/milestones/latest"/>
  </location>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
    <unit id="lpg.runtime.java" version="0.0.0"/>
    <unit id="org.eclipse.ocl" version="0.0.0"/>
    <unit id="org.eclipse.ocl.common" version="0.0.0"/>
    <unit id="org.eclipse.ocl.tests" version="0.0.0"/>
    <unit id="org.eclipse.ocl.uml" version="0.0.0"/>
    <unit id="org.eclipse.ocl.uml.tests" version="0.0.0"/>
    <repository location="https://ci.eclipse.org/ocl/job/ocl-master/lastSuccessfulBuild/artifact/releng/org.eclipse.ocl.releng.build-site/target/repository/"/>
  </location>
</locations>
</target>