<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin
      name="%pluginName"
      id="fr.centralesupelec.edf.riseclipse.mathlib"
      version="1.0.0"
      provider-name="%providerName">

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.emf.ecore" export="true"/>
      <import plugin="org.eclipse.ocl.pivot" export="true"/>
      <import plugin="org.eclipse.ocl.codegen" export="true"/>
      <import plugin="org.eclipse.jdt.annotation" export="true"/>
   </requires>

   <runtime>
      <library name=".">
         <export name="*"/>
      </library>
   </runtime>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mathlib -->
      <package
            uri="http://www.eclipse.org/ocl/2026/Mathlib"
            class="org.eclipse.ocl.pivot.mathlib.MathlibPackage"
            genModel="model/mathlib.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.ocl.pivot.standard_library">
      <library
            class="fr.centralesupelec.edf.riseclipse.mathlib.model.Mathlib$Loader"
            uri="http://www.eclipse.org/ocl/2026/Mathlib">
      </library>
   </extension>

</plugin>
