<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target includeMode="feature" name="Eclipse OCL 2025-09 Build Target Platform" sequenceNumber="16">
<locations>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
    <unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.uml2.sdk.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
    <repository location="https://download.eclipse.org/releases/2025-09"/>
  </location>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
    <unit id="org.eclipse.ocl.tests.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.ocl.examples.tests.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.ocl.examples.impactanalyzer.tests" version="0.0.0"/>
    <repository location="https://ci.eclipse.org/ocl/job/ocl-master/lastSuccessfulBuild/artifact/releng/org.eclipse.ocl.releng.build-site/target/repository/"/>
    <!--repository location="https://ci.eclipse.org/ocl/job/ocl-branch-tests/lastSuccessfulBuild/artifact/releng/org.eclipse.ocl.releng.build-site/target/repository/"/-->
    <!--repository location="https://download.eclipse.org/modeling/mdt/ocl/updates/releases/6.3.0"/-->
  </location>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
    <unit id="javax.annotation" version="0.0.0"/>
    <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20220302172233/repository"/>
  </location>
</locations>
</target>