<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.JunitLaunchConfig">
    <booleanAttribute key="append.args" value="true"/>
    <stringAttribute key="application" value="org.eclipse.pde.junit.runtime.coretestapplication"/>
    <booleanAttribute key="askclear" value="false"/>
    <booleanAttribute key="automaticAdd" value="true"/>
    <booleanAttribute key="automaticValidate" value="false"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <booleanAttribute key="clearws" value="true"/>
    <booleanAttribute key="clearwslog" value="false"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/pde-junit"/>
    <booleanAttribute key="default" value="false"/>
    <setAttribute key="deselected_workspace_bundles">
        <setEntry value="org.eclipse.ocl"/>
        <setEntry value="org.eclipse.ocl.capabilities.lal"/>
        <setEntry value="org.eclipse.ocl.common"/>
        <setEntry value="org.eclipse.ocl.common.ui"/>
        <setEntry value="org.eclipse.ocl.doc"/>
        <setEntry value="org.eclipse.ocl.ecore"/>
        <setEntry value="org.eclipse.ocl.ecore.edit"/>
        <setEntry value="org.eclipse.ocl.ecore.tests"/>
        <setEntry value="org.eclipse.ocl.edit"/>
        <setEntry value="org.eclipse.ocl.examples"/>
        <setEntry value="org.eclipse.ocl.examples.impactanalyzer"/>
        <setEntry value="org.eclipse.ocl.examples.impactanalyzer.testmodel.company"/>
        <setEntry value="org.eclipse.ocl.examples.impactanalyzer.testmodel.ngpm"/>
        <setEntry value="org.eclipse.ocl.examples.impactanalyzer.tests"/>
        <setEntry value="org.eclipse.ocl.examples.impactanalyzer.testutils"/>
        <setEntry value="org.eclipse.ocl.examples.impactanalyzer.ui"/>
        <setEntry value="org.eclipse.ocl.examples.impactanalyzer.util"/>
        <setEntry value="org.eclipse.ocl.examples.tests"/>
        <setEntry value="org.eclipse.ocl.examples.testutils"/>
        <setEntry value="org.eclipse.ocl.tests"/>
        <setEntry value="org.eclipse.ocl.ui"/>
    </setAttribute>
    <booleanAttribute key="includeOptional" value="true"/>
    <stringAttribute key="location" value="${workspace_loc}/../junit-workspace"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/org.eclipse.ocl.examples.eventmanager.tests/src/org/eclipse/ocl/examples/eventmanager/tests/EventManagerTests.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value=""/>
    <booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
    <stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.eclipse.ocl.examples.eventmanager.tests.EventManagerTests"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.eclipse.ocl.examples.eventmanager.tests"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-DtestNameSuffix=plugin&#13;&#10;-Dosgi.requiredJavaVersion=1.5 -Xms40m -Xmx512m -XX:PermSize=256m"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <stringAttribute key="product" value="org.eclipse.sdk.ide"/>
    <booleanAttribute key="run_in_ui_thread" value="true"/>
    <setAttribute key="selected_target_bundles">
        <setEntry value="org.eclipse.ant.core@default:default"/>
        <setEntry value="org.eclipse.core.contenttype@default:default"/>
        <setEntry value="org.eclipse.core.expressions@default:default"/>
        <setEntry value="org.eclipse.core.filesystem@default:default"/>
        <setEntry value="org.eclipse.core.jobs@default:default"/>
        <setEntry value="org.eclipse.core.resources@default:default"/>
        <setEntry value="org.eclipse.core.runtime@default:true"/>
        <setEntry value="org.eclipse.core.variables@default:default"/>
        <setEntry value="org.eclipse.emf.common@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.xmi@default:default"/>
        <setEntry value="org.eclipse.emf.ecore@default:default"/>
        <setEntry value="org.eclipse.equinox.app@default:default"/>
        <setEntry value="org.eclipse.equinox.common@2:true"/>
        <setEntry value="org.eclipse.equinox.preferences@default:default"/>
        <setEntry value="org.eclipse.equinox.registry@default:default"/>
        <setEntry value="org.eclipse.osgi@-1:true"/>
        <setEntry value="org.junit@default:default"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="Store.edit@default:default"/>
        <setEntry value="Store.editor@default:default"/>
        <setEntry value="Store@default:default"/>
        <setEntry value="org.eclipse.ocl.all@default:default"/>
        <setEntry value="org.eclipse.ocl.build@default:default"/>
        <setEntry value="org.eclipse.ocl.codegen.tests@default:default"/>
        <setEntry value="org.eclipse.ocl.codegen@default:default"/>
        <setEntry value="org.eclipse.ocl.compatibility.tests@default:default"/>
        <setEntry value="org.eclipse.ocl.control@default:default"/>
        <setEntry value="org.eclipse.ocl.debug.ui@default:default"/>
        <setEntry value="org.eclipse.ocl.debug.vm.ui@default:default"/>
        <setEntry value="org.eclipse.ocl.debug.vm@default:default"/>
        <setEntry value="org.eclipse.ocl.debug@default:default"/>
        <setEntry value="org.eclipse.ocl.emf.validation.validity.ui@default:default"/>
        <setEntry value="org.eclipse.ocl.emf.validation.validity@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.autogen@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.build.acceleo@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.build@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.classic@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.codegen@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.common@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.consumers.tests@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.debug.ui@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.debug.vm.ui@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.debug.vm@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.debug@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.domain@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.editor.model.edit@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.editor.model.editor@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.editor.model@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.editor.ocl.ui.ecore@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.editor.ocl.ui@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.editor.ui@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.emf.validation.validity.ui@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.emf.validation.validity@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.eventmanager.tests@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.eventmanager@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.extlibrary@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.interpreter@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.library@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.modelregistry.edit@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.modelregistry.editor@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.modelregistry.ui@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.modelregistry@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.parser.ocl@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.parser.unresolved@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.parser@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.pivot@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.project.completeocltutorial@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.project.oclinecoretutorial@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.project.royalandloyal@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.standalone@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.ui@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.uml25@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.unified@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.validity.test@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.validity@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.xtext.base.ui@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.xtext.base@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.xtext.completeocl.ui@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.xtext.completeocl@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.xtext.console@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.xtext.essentialocl.ui@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.xtext.essentialocl@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.xtext.markup.ui@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.xtext.markup@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.xtext.oclinecore.ui@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.xtext.oclinecore@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.xtext.oclstdlib.ui@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.xtext.oclstdlib@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.xtext.tests@default:default"/>
        <setEntry value="org.eclipse.ocl.examples.xtext2lpg@default:default"/>
        <setEntry value="org.eclipse.ocl.library@default:default"/>
        <setEntry value="org.eclipse.ocl.master@default:default"/>
        <setEntry value="org.eclipse.ocl.pivot.internal@default:default"/>
        <setEntry value="org.eclipse.ocl.pivot.ui@default:default"/>
        <setEntry value="org.eclipse.ocl.pivot.uml@default:default"/>
        <setEntry value="org.eclipse.ocl.pivot@default:default"/>
        <setEntry value="org.eclipse.ocl.standalone.ecore.tests@default:default"/>
        <setEntry value="org.eclipse.ocl.standalone.pivot.tests@default:default"/>
        <setEntry value="org.eclipse.ocl.standalone.tests@default:default"/>
        <setEntry value="org.eclipse.ocl.standalone.uml.tests@default:default"/>
        <setEntry value="org.eclipse.ocl.uml.edit@default:default"/>
        <setEntry value="org.eclipse.ocl.uml.tests@default:default"/>
        <setEntry value="org.eclipse.ocl.uml.ui@default:default"/>
        <setEntry value="org.eclipse.ocl.uml@default:default"/>
        <setEntry value="org.eclipse.ocl.validity@default:default"/>
        <setEntry value="org.eclipse.ocl.xtext.base.ui@default:default"/>
        <setEntry value="org.eclipse.ocl.xtext.base@default:default"/>
        <setEntry value="org.eclipse.ocl.xtext.completeocl.ui@default:default"/>
        <setEntry value="org.eclipse.ocl.xtext.completeocl@default:default"/>
        <setEntry value="org.eclipse.ocl.xtext.console@default:default"/>
        <setEntry value="org.eclipse.ocl.xtext.essentialocl.ui@default:default"/>
        <setEntry value="org.eclipse.ocl.xtext.essentialocl@default:default"/>
        <setEntry value="org.eclipse.ocl.xtext.idioms.ui@default:default"/>
        <setEntry value="org.eclipse.ocl.xtext.idioms@default:default"/>
        <setEntry value="org.eclipse.ocl.xtext.markup.ui@default:default"/>
        <setEntry value="org.eclipse.ocl.xtext.markup@default:default"/>
        <setEntry value="org.eclipse.ocl.xtext.oclinecore.ui@default:default"/>
        <setEntry value="org.eclipse.ocl.xtext.oclinecore@default:default"/>
        <setEntry value="org.eclipse.ocl.xtext.oclstdlib.ui@default:default"/>
        <setEntry value="org.eclipse.ocl.xtext.oclstdlib@default:default"/>
        <setEntry value="org.eclipse.ocl.xtext.tests@default:default"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="false"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfig" value="true"/>
    <booleanAttribute key="useDefaultConfigArea" value="false"/>
    <booleanAttribute key="useProduct" value="false"/>
</launchConfiguration>
