<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Store -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="store.presentation.StoreModelWizardID"
            name="%_UI_StoreModelWizard_label"
            class="store.presentation.StoreModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/StoreModelFile.gif">
         <description>%_UI_StoreModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Store -->
      <editor
            id="store.presentation.StoreEditorID"
            name="%_UI_StoreEditor_label"
            icon="icons/full/obj16/StoreModelFile.gif"
            extensions="store"
            class="store.presentation.StoreEditor"
            contributorClass="store.presentation.StoreActionBarContributor">
      </editor>
   </extension>

</plugin>
